# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
rs_env/
pyvenv.cfg
venv/
env/
*/site-packages/
PTV2/

# Log files
*.log
app.log

# Temporary files and directories
tmp/
*.tmp
*.swp
*.swo
*~
.cache/

# Environment configuration files
.env
settings.json

# Credentials or sensitive data
credentials/service_account_key.json